@using TDLibrary

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript" src="@AppMgr.ScriptPath/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/jquery/json2.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/pathscript.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/main.js"></script>
</head>
<body>
    <input id="txtSifre" type="text" />
    <input id="btnGiris" type="button" value="Giriş" />
</body>
</html>
